adf-iac-dev/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-iac-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"test": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline2",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2023-01-12T00:58:00Z",
						"endTime": "2023-01-13T00:58:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger2')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2023-01-11T20:40:00Z",
						"endTime": "2023-01-12T00:40:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntimeMac')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/aci_trigger')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Start ACI",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/',variables('Subscription'),'/resourceGroups/',variables('ResourceGroupName'),'/providers/Microsoft.ContainerInstance/containerGroups/',pipeline().parameters.ContainerGroupName,'/start?api-version=2019-12-01')",
								"type": "Expression"
							},
							"method": "POST",
							"headers": {},
							"body": "{dummy}",
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					},
					{
						"name": "Until job is completed",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Start ACI",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@or(equals(variables('ContainerState'),'Completed'),equals(variables('ContainerState'),'Error'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Wait for 30 sec",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 30
									}
								},
								{
									"name": "Get ContainerState",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Wait for 30 sec",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://management.azure.com/subscriptions/',variables('Subscription'),'/resourceGroups/',variables('ResourceGroupName'),'/providers/Microsoft.ContainerInstance/containerGroups/',pipeline().parameters.ContainerGroupName,'?api-version=2019-12-01')",
											"type": "Expression"
										},
										"method": "GET",
										"headers": {},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.azure.com"
										}
									}
								},
								{
									"name": "Set ContainerState",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Get ContainerState",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "ContainerState",
										"value": {
											"value": "@activity('Get ContainerState').output.properties.containers[0]. properties.instanceView.currentState.detailStatus",
											"type": "Expression"
										}
									}
								},
								{
									"name": "If container job falls",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Set ContainerState",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(equals(variables('ContainerState'),'Error'), and(equals(activity('Get ContainerState').output.properties.containers[0].properties.instanceView.currentState.state, 'Terminated'), not(equals(variables('ContainerState'),'Completed'))))\n\n",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Set FailJob",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "FailJob",
													"value": {
														"value": "@div(1,0)",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"ContainerGroupName": {
						"type": "string",
						"defaultValue": "testimg-aci"
					}
				},
				"variables": {
					"ContainerState": {
						"type": "String"
					},
					"ResourceGroupName": {
						"type": "String",
						"defaultValue": "adf-iac"
					},
					"FailJob": {
						"type": "String"
					},
					"Subscription": {
						"type": "String",
						"defaultValue": "ca02423f-fb70-4323-b01e-2d2257c18505"
					}
				},
				"folder": {
					"name": "ACI"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-16T15:03:10Z"
			},
			"dependsOn": []
		}
	]
}